html {
  font-size: 62.5%; /* 16px is the default font size so (16.5px)*(62.5) = 10px = 1rem */
  box-sizing: border-box; 
}

body {
  font: 1.6rem Helvetica;
  height: 100vh; /* 100% of the viewport (user's visible area of a web page) width */
  margin: 0;
}

button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: 5rem 1fr 5rem; /* 3 rows: header height, main 1 fragment, footer height*/
  height: 100%; /* Makes grid-container cover entire viewport */
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover{
  color:#ff8000;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/* Home Screen */

.homepage {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem; /* 0 flex growth, 1 flex shrink, 34rem width*/
  margin: 1rem;
  height: 43rem;
  /*border-bottom: 0.1rem #c0c0c0 solid;*/
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.product-name {
  font-size: 1.4rem;
  font-weight: 100;
  color: #101010;
  padding-top: 0.2rem;
}

.product-name a:hover{
  color: #101010;
}

.product-name a:visited{
  color: #101010;
}

.product-brand {
  padding-top: 0.2rem;
  font-size: 1.1rem;
  color: #808080;
}

.product-price {
  padding-top: 0.2rem;
  font-size: 1.4rem;
}

.product-rating {
  padding-top: 0.2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.product-image {
  object-fit: contain;
  max-width: 34rem;
  max-height: 34rem;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-60rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar-title {
  padding-left: 2rem;
  padding-top: 0.1rem;
}

.sidebar-category-list {
  list-style-type: none;
}

.sidebar.open {
  transform: translateX(0);
  box-shadow: 0 0 0 100000px rgba(0,0,0,.75);
}

.sidebar-close-button {
  background-color: transparent;
  color: #f0f0f0;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: -3rem;
  top: 0rem;
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img{
  max-width: 60rem;
  widows: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border: .1rem #404040 solid;
}

.button.primary {
  background-color: #f0c040;
}

.button.secondary {
  background-color: #f0f0f0;
}

.button.logout {
  border : none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
  color: #ffffff;
}

.button.logout:hover{
  color:#ff8000;
}

.text-center{
  text-align: center;
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: .5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name{
  flex: 8 1;
}

.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* Forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width:32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.dragndrop {
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex: 3 1 5rem;
  flex-wrap: wrap;
  text-align: center;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.preview-image {
  object-fit: contain;
  max-width: 30rem;
  max-height: 30rem;
}

.dragndrop-input {
  width: 30rem;
  border: none;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}

.profile-orders {
  flex: 3 1 60rem;
}

/* Components */

.categories {
  padding: 2rem;
  margin-right: 2rem;
}

.categories-sections {
  list-style-type: none;
  padding: 1rem;
  margin-left: 1rem;
}

.categories-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}

.categories-options {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: 100;
  white-space: nowrap;
  color:#202020;
}

.categories-options a:hover{
  color:#202020;
  text-decoration: underline;
}

.categories-options a:visited{
  color:#202020;
}

.sort {
  padding: 2rem;

}

.sort-sections {
  list-style-type: none;
  padding: 1rem;
  margin-right: 1.5rem;
}

